STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-backend

# Cloudinary Integration
CLOUDINARY_API_KEY=137428427538582
CLOUDINARY_API_SECRET=BHexOaz1Z1zf2wVmesX6Ys8btx8
CLOUDINARY_CLOUD_NAME=dul9mjxed

# QuickBooks Online ERP Integration
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=
QUICKBOOKS_REDIRECT_URI=http://localhost:9000/admin/quickbooks/callback
QUICKBOOKS_ENVIRONMENT=sandbox
